# Student Performance Prediction

###

## 1. Introduction

### 1.1 Context:

     This notebook explores student performance data to identfiy the factors that influence academic outcomes. Through exploratory data analysis (EDA), I examine demographic, academic, and lifestlye features such as gender, income, attendance, gaming hours, and prior grades. After uncovering trends and relationships, I build machine learning models to predict the Overall performance score of students. This process provides insights for educators and serves as a foundation for data-driven interventions to support student sucess.

### 1.2 Problem Statement:

    1. What factors significantly influence students' overall academic performance
    2. Is it possible to build machine learning model to predict a student's Overall performance score based on demographic, academic, and lifestyle features?

### 1.3 Why this is important

Understanding the factors that affect student performance is essentail for improving educational outcomes. By analyzing academic, demographic, and lifestyle data, schools and educators can:
- Identify students who may be at risk underperforming.
- Develop targeted interventions to improve learning outcomes.
- Optimize teaching strategies and resource allocation.
- Use predictive models to support data-driven decision-making in education.

## 2. Objectives

### 2.1 Clear goals of the analysis/model

## 3. Data Description

### Import necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Load and Explore the Dataset

In [2]:
df = pd.read_csv('ResearchInformation3.csv')

In [10]:
df.head(10)

,Department,Gender,HSC,SSC,Income,Hometown,Computer,Preparation,Gaming,Attendance,Job,English,Extra,Semester,Last,Overall
0,Business Administration,Male,4.17,4.84,"Low (Below 15,000)",Village,3,More than 3 Hours,0-1 Hour,80%-100%,No,3,Yes,6th,3.220,3.350
1,Business Administration,Female,4.92,5.00,"Upper middle (30,000-50,000)",City,3,0-1 Hour,0-1 Hour,80%-100%,No,3,Yes,7th,3.467,3.467
2,Business Administration,Male,5.00,4.83,"Lower middle (15,000-30,000)",Village,3,0-1 Hour,More than 3 Hours,80%-100%,No,4,Yes,3rd,4.000,3.720
3,Business Administration,Male,4.00,4.50,"High (Above 50,000)",City,5,More than 3 Hours,More than 3 Hours,80%-100%,No,5,Yes,4th,3.800,3.750
4,Business Administration,Female,2.19,3.17,"Lower middle (15,000-30,000)",Village,3,0-1 Hour,2-3 Hours,80%-100%,No,3,Yes,4th,3.940,3.940
5,Computer Science and Engineering,Male,4.75,4.05,"Lower middle (15,000-30,000)",Village,3,0-1 Hour,More than 3 Hours,Below 40%,No,4,No,2nd,1.000,1.000
6,Computer Science and Engineering,Male,4.42,5.00,"High (Above 50,000)",Village,4,0-1 Hour,More than 3 Hours,60%-79%,No,2,No,2nd,1.060,1.060
7,Computer Science and Engineering,Male,4.50,4.81,"Upper middle (30,000-50,000)",City,3,2-3 Hours,More than 3 Hours,80%-100%,No,4,Yes,11th,2.950,1.250
8,Computer Science and Engineering,Male,3.32,4.50,"Low (Below 15,000)",City,4,0-1 Hour,More than 3 Hours,Below 40%,No,3,Yes,5th,1.420,1.440
9,Computer Science and Engineering,Female,3.33,4.95,"Lower middle (15,000-30,000)",City,3,0-1 Hour,More than 3 Hours,Below 40%,No,4,No,2nd,1.500,1.500

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Department   493 non-null    object
 1   Gender       493 non-null    object
 2   HSC          493 non-null    float64
 3   SSC          493 non-null    float64
 4   Income       493 non-null    object
 5   Hometown     493 non-null    object
 6   Computer     493 non-null    int64
 7   Preparation  493 non-null    object
 8   Gaming       493 non-null    object
 9   Attendance   493 non-null    object
 10  Job          493 non-null    object
 11  English      493 non-null    int64
 12  Extra        493 non-null    object
 13  Semester     493 non-null    object
 14  Last         493 non-null    float64
 15  Overall      493 non-null    float64
dtypes: float64(4), int64(2), object(10)
memory usage: 61.8+ KB

In [5]:
df.describe()

              HSC         SSC    Computer     English        Last     Overall
count  493.000000  493.000000  493.000000  493.000000  493.000000  493.000000
mean     4.156775    4.767647    3.338742    3.569980    3.163888    3.188383
std      0.546504    0.349538    1.252988    0.870515    0.641475    0.591801
min      2.170000    3.000000    1.000000    1.000000    1.000000    1.000000
25%      3.830000    4.680000    3.000000    3.000000    2.810000    2.880000
50%      4.170000    4.940000    3.000000    4.000000    3.250000    3.270000
75%      4.500000    5.000000    4.000000    4.000000    3.670000    3.680000
max      5.000000    5.000000    5.000000    5.000000    4.000000    4.000000

In [9]:
df['Department'].value_counts()

Department
Computer Science and Engineering               443
English                                         14
Journalism, Communication and Media Studies     13
Political Science                                6
Business Administration                          5
Economics                                        4
Sociology                                        3
Law and Human Rights                             2
Public Health                                    2
Electrical and Electronic Engineering            1
Name: count, dtype: int64

## 4. Exploratory Data Analysis (EDA)

### 4.1 Data Cleaning

### 4.2 Univariate Analysis

### 4.3 Bivariate/Multivariate Analysis

## 5. Feature Engineering

## 6. Model Building

### 6.1 Train-Test Split

### 6.2 Baseline Model

### 6.3 Model Training

### 6.4 Model Evaluation

## 7. Results

## 8. Conclusion & Recommendations

## 9. References